@main-color-text: #000000;
<<<<<<< HEAD
@main-font-size: 17px;
@main-font-type:;
=======
@color-text-brown: #444444;
@white-color-text: #ffffff;
@color-lightgreen: #63d1bb;
@color-darkgreen: #56c3b2;
@gray-background: #f1f1f1;
@main-font-size: 17px;
>>>>>>> 0ed12a9b19f340adcbd0913c79929dfaa63a7ddb
