@main-color-text: #000000;
@color-text-brown: #444444;
@white-color-text: #ffffff;
@color-lightgreen: #63d1bb;
@color-darkgreen: #56c3b2;
@gray-background: #f1f1f1;
@main-font-size: 17px;

body {
  width: 320px;
  font-family: "Open Sans", Arial, sans-serif;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
