.advantages {
  font-size: @main-font-size;
  line-height: 20px;
  margin-top: 30px;
  display: flex;

  &__wrapper {
    .wrapper();
  }

  &__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 25px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
  }
  &__item {
    position: relative;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 20px;

    svg {
      position: absolute;
      top: 0;
      left: 0;
    }
    path {
      fill: @color-lightgreen;
    }

    &--ecology {
      width: 175px;
    }
    &--style {
      width: 200px;
    }
    &--likes {
      width: 181px;
    }
    &--love {
      width: 211px;
    }
    &--no-import {
      width: 251px;
    }
    &--packaging {
      width: 198px;
    }
  }

  @media (min-width: @tablet-width) {
    &__wrapper {
      width: 668px;
      padding: 0 50px;
    }

    font-size: 20px;
    line-height: 22px;

    &__title {
      font-size: 43px;
      line-height: 50px;
      margin-bottom: 40px;
    }
    &__list {
      width: 668px;
      height: 450px;
      flex-wrap: wrap;
    }
    &__item {
      width: 50%;
      padding-bottom: 40px;
    }
  }

  @media (min-width: @desktop-width) {
    &__wrapper {
      width: 1050px;
    }
    &__title {
      font-size: 53px;
      line-height: 57px;
      margin-bottom: 40px;
      margin-left: 175px;
    }
    &__list {
      margin-left: 175px;
    }
    &__item {
      &--no-import {
        width: 300px;
      }
    }
  }
}
