.advantages {
  font-size: @main-font-size;
  line-height: 20px;
  margin-top: 30px;
  border: 1px solid red;
  display: flex;

  &__wrapper {
    .wrapper();
  }

  &__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
    border: 1px solid red;

  }
  &__item {
    margin-bottom: 25px;
    border: 1px solid red;

    &--ecology {
      width: 175px;
    }
    &--style {
      width: 200px;
    }
    &--likes {
      width: 181px;
    }
    &--love {
      width: 211px;
    }
    &--no-import {
      width: 251px;
    }
    &--packaging {
      width: 198px;
    }
  }

  @media (min-width: @tablet-width) {
    &__wrapper {
      width: 668px;
      padding: 0 50px;
    }
    &__list {
      width: 668px;
      height: 425px;
      flex-direction: row;
      flex-wrap: wrap;
    }
    &__item {
      width: 332px;
    }
  }

  // @media (min-width: @desktop-width) {
  //   &__wrapper {
  //     width: 1050px;
  //   }
  // }
}
