.advantages {
  font-size: @main-font-size;
  line-height: 20px;
  margin-top: 30px;

  &__wrapper {
    .wrapper();
  }

  &__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;

  }
  &__item {
    margin-bottom: 25px;


    &--ecology {
      width: 175px;
    }
    &--style {
      width: 200px;
    }
    &--likes {
      width: 181px;
    }
    &--love {
      width: 211px;
    }
    &--no-import {
      width: 251px;
    }
    &--packaging {
      width: 198px;
    }
}
}
