.catalog {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__wrapper {
    .wrapper();
  }

  &__item {
    width: 100%;
    border: 1px solid #ededed;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

    &:hover {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }

    &-description {
      padding: 0 28px;
      cursor: pointer;
    }
  }

  &__item-title {
    margin: 0;
    margin-top: 25px;
    font-size: @main-font-size;
    line-height: 24px;
    font-weight: 700;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__item-parametr {
    margin: 0;
    font-size: 13px;
    line-height: 30px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
    color: @color-text-brown;
  }

  &__item-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    line-height: 24px;
    color: @main-color-text;
    font-weight: bold;
    padding-bottom: 25px;
  }

  &__cart {
    path {
      fill: #d3d2d2;
    }

    &:hover {
      path {
        fill: @color-lightgreen;
      }
    }

    &:active {
      path {
        fill: @color-lightgreen;
        opacity: 0.3;
      }
    }
  }

  @media (min-width: @tablet-width) {
    &__item {
      &-link {
        width: 50%;
      }
      height: 334px;
      flex-direction: row;

      &-description {
        width: 268px;
        display: flex;
        flex-direction: column;
      }

      &-parametr {
        padding-bottom: 190px;

        &--last {
          padding-bottom: 165px;
        }
      }
    }
  }

  @media (min-width: @desktop-width) {
    &__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      &-link {
        width: 100%;
      }
      width: 315px;
      height: 660px;
      flex-direction: column;

      &-description{
        width: auto;
        margin-top: auto;
      }

      &-parametr {
        padding-bottom: 30px;

        &--last {
          padding-bottom: 5px;
        }
      }
    }
  }
}
