.contacts {
  font-size: 15px;
  line-height: 30px;
  color: @color-text-brown;
  border: 1px solid red;

  &__wrapper {
    display: flex;
    flex-direction: column;
    .wrapper();
  }

  &__title {
    font-size: 18px;
    line-height: 30px;
    color: @main-color-text;
  }

  &__description {
    width: 260px;
    border: 1px solid red;
  }

  &__map {
    border: 1px solid red;
  }

  &__info--email {
    border-bottom: 1px solid #62d1ba;
  }

  &__button {
    font-size: 18px;
    line-height: 24px;
    color: @color-text-brown;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px 0;
  }

  @media (min-width: @tablet-width) {

    &__wrapper {
      width: 668px;
      padding: 0 50px;
    }

    &__map {
      width: 668px;
    }

    &__description {
      width: 668px;
      display: flex;
      // flex-direction: column;
    }
  }

  @media (min-width: @desktop-width) {
    &__wrapper {
      width: 1050px;
      padding: 0 50px;
      display: flex;
      flex-direction: row;
    }

    &__description {
      flex-direction: column;
      width: 50%;
    }

    &__map {
      width: 50%;
    }
  }
}
