.main-page {
  &__title {
    font-size: 27px;
    line-height: 30px;
    background-color: @gray-background;
    padding: 75px 0;
    margin-bottom: 30px;
    text-align: center;
  }

  @media (min-width: @tablet-width) {
    &__title {
      font-size: 43px;
      line-height: 50px;
      margin-bottom: 75px;
      margin-top: -50px;
      padding: 105px 0;
    }
  }

  @media (min-width: @desktop-width) {
    &__title {
      font-size: 50px;
      line-height: 57px;
      padding-bottom: 90px;
      margin-bottom: 120px;
    }
  }
}
