.order-form {

  &__wrapper {
    .wrapper();
  }

  &__description {
    width: 242px;
    font-size: 13px;
    line-height: 24px;
    color: @color-text-brown;
    padding: 0;
    margin: 25px 0;
  }

  &__fieldset {
    display: flex;

    &-title {
      color: @color-lightgreen;
      margin-bottom: 10px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  &__list-item {
    list-style: none;
    color: @main-color-text;
    font-size: @main-font-size;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 10px;

    &--type {
      width: 170px;
    }
  }

    &__require {
      font-size: 14px;
      line-height: 16px;
      color: @color-text-brown;
    }

    &__button {
      color: @color-text-brown;
    }

    @media (min-width: @tablet-width) {
      &__description {
        width: 620px;
      }
      &__list-color {
        width: 400px;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
      &__fieldset {
        &-wrapper {
          display: flex;
          &--client-contacts,
          &--addition {
            flex-direction: column;
          }
        }
        &-title {
          width: 170px;
        }
        &-tel,
        &-mail {
          display: flex;
        }
      }
      &__addition,
       {
        display: flex;
      }
      &__require {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
      }
      &__list-item--type {
        width: 255px;
      }
      &__list-item--color {
        width: 200px;
      }
    }
    @media (min-width: @desktop-width) {
      &__description {
        width: 680px;
        padding: 0 175px;
      }
      &__list-color {
        width: 700px;
        height: 100px;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
    }
}
