.order-form {
  &__description {
    width: 242px;
    font-size: 13px;
    line-height: 24px;
    color: @color-text-brown;
    padding: 0;
    margin: 0;
    margin-top: 25px;
  }

  &__fieldset {

    &-title {
      color: @color-lightgreen;
      margin-bottom: 10px;
    }
  }
  &__list {
    padding: 0;
    margin: 0;
  }

  &__list-item {
    list-style: none;
    color: @main-color-text;
    font-size: @main-font-size;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 10px;

    &--type {
      width: 170px;
    }
  }

    &__require {
      font-size: 14px;
      line-height: 16px;
      color: @color-text-brown;
    }

    &__button {
      color: @color-text-brown;
    }
}
