.page-header {
  font-size: @main-font-size;
  line-height: 24px;
  font-weight: bold;

  &__wrapper {
    .wrapper();
  }

  &__logo-image {
    text-align: center;
  }

  .main-nav {
    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    &__item {
      border-top: 1px solid #ececec;
      padding: 20px 0 20px 75px;


      a {
      text-decoration: none;
      color: @main-color-text;
      }
    }
  }
}
