.production-process {
  display: flex;
  justify-content: center;
  width: 100%;

  &__wrapper {
    .wrapper();

    border: 1px solid red;
  }

  &__item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ececec;
    margin-bottom: 55px;
  }

  &__title {
    width: 125px;
    font-size: @main-font-size;
    line-height: 24px;
    font-weight: 700;

  }

  &__text {
    width: 175px;
    font-size: 13px;
    line-height: 24px;
    color: @color-text-brown;
  }

  &--button {
    font-size: @main-font-size;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: @color-text-brown;
  }

  @media (min-width: @tablet-width) {
    &__item {
      width: 668px;
      height: 745px;
    }


  }

  @media (min-width: @desktop-width) {
    &__item {
      height: 455px;
      width: 1050px;
      flex-direction: row;
    }

    &__video {
      width: 683px;
    }

    &__description {
      display: flex;
      flex-direction: column;
    }
  }
}
