.reviews {
  font-size: 15px;
  line-height: 30px;
  color: #444444;

  &__title {
    font-size: 25px;
    color: #000000;

  }
  &__item {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    width: 255px;
  }

  &__review-text {

  }

  &__author-name {
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
  }

  &__author-email {
    font-size: 17px;
    line-height: 30px;
  }

  &__button {
    font-size: 18px;
    line-height: 24px;
    color: #444444;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px 0;
  }
}
